// Colores
$dorado: #c29441;
$blanco-hueso: #f3efea;
$azul-oscuro: #0d2038;
$negro: #000000;
$rojo-oscuro: #8b1e1e;
$gris-claro: #cccccc;

// Tipografía
$titulo-font: "Bebas Neue", sans-serif;
$cuerpo-font: "Roboto", sans-serif;
