// Colores
$dorado: #C29441;
$blanco-hueso: #F3EFEA;
$azul-oscuro: #0D2038;
$negro: #000000;
$rojo-oscuro: #8B1E1E;
$gris-claro: #CCCCCC;

// Tipografía
$titulo-font: 'Bebas Neue', sans-serif;
$cuerpo-font: 'Roboto', sans-serif;